.Modules {
  &__EmptyDataBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    background-color: #FFFCFC;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 60em;
    height: 40em;
    user-select: none;
    -webkit-user-select: none;
    transition:
            background-color 0.1s ease-in-out,
            box-shadow 0.1s ease-in-out;

    @media screen and (max-width: 900px),
    screen and (max-height: 700px) {
      flex-direction: row;
      width: fit-content;
      height: fit-content;
      padding: 2em 3em;

      &--Text {
        text-align: left !important;

        & p {
          width: 256px;
        }
      }
    }

    &:hover {
      background-color: #fdf6f6;
      box-shadow: 8px 7px 0 black;
    }

    &:active {
      background-color: #fcf2f2;
      box-shadow: 2px 3px 0 black;
    }

    & img {
      width: clamp(4em, 10vw, 10em);
      height: auto;
      pointer-events: none;
    }

    &--Text {
      font-family: "Outfit", sans-serif;
      text-align: center;

      & h1 {
        font-weight: 600;
        font-size: clamp(8pt, 5vw, 29pt);
        white-space: nowrap;
      }

      & p {
        font-weight: 200;
        font-size: clamp(4pt, 3vw, 14pt);
      }
    }
  }
}