.Modules {
  &--EmptyDataBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    background-color: #FFFCFC;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 60em;
    height: 40em;
    user-select: none;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: #fdf6f6;
      box-shadow: 8px 7px 0 black;
    }

    &:active {
      background-color: #fcf2f2;
      box-shadow: 1px 2px 0 black;

    }

    & img {
      width: 10em;
      height: auto;
    }

    &__Text {
      font-family: "Outfit", sans-serif;
      text-align: center;

      & h1 {
        font-weight: 600;
        font-size: 29pt;
        margin: 0;
      }

      & p {
        font-weight: 200;
        font-size: 14pt;
        margin: 0;
      }
    }
  }
}