events {
    worker_connections 1024;
}

http {
    server {
        listen 80;
        server_name regi.devel.local;

        return 301 https://$host$request_uri;
    }

    server {
            listen 443 ssl;
            server_name regi.devel.local;

            ssl_certificate ~/certs/regi.pem;
            ssl_certificate_key ~/certs/regi.key;
            ssl_protocols TLSv1.2 TLSv1.1 TLSv1;

            location / {
               proxy_pass http://localhost:8080;
               proxy_set_header Upgrade $http_upgrade;
               proxy_set_header Connection "upgrade";
            }

            location /api {
                proxy_pass http://localhost:8081/api;
            }
        }
}