.App {
  &__IdmsaView {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.Dynamic__Header {
  position: fixed; // Enforce centering for Idmsa Component
}