.App {
  &__ErrorView {
    min-height: 100%;
    background: url("/public/Error.svg") no-repeat center top;
    background-size: 75%;
    align-items: center;
    justify-content: center;

    &--Message {
      display: flex;
      align-items: center;
      color: #DD8888;
      gap: 3%;
      user-select: none;
      -webkit-user-select: none;
      pointer-events: none;

      &__Intro {
        font-size: clamp(1rem, 2.5vw, 3em);
        white-space: nowrap;

        & h4 {
          font-weight: 600;
        }

        &--ErrorCode {
          font-size: clamp(0.6em, 2vw, 1em);
          font-weight: 200;
          font-family: 'Space Mono', monospace;
          user-select: auto;
          -webkit-user-select: auto;
        }
      }

      &__ExclamationIcon {
        width: clamp(4em, 10vw, 20em);
        height: auto;
      }
    }
  }
}

.Dynamic__Header {
  position: fixed; // Enforce centering for Idmsa Component
}